<footer>
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h4><a target="_blank" href="https://www.google.com/maps/place/Admin+Block,VVIT/@16.3432321,80.522693,17.01z/data=!4m9!1m2!2m1!1svvit+map!3m5!1s0x3a35f5ea870cadef:0x8a6b729812c20a2b!8m2!3d16.3440913!4d80.5243091!15sCgh2dml0IG1hcJIBC2JhY2tfb2ZmaWNl"><i class='fas fa-map-marker-alt'></i></a> Address</h4>
                <div class="content">
                    Vasireddy Venkatadri Institute of Technology <br>
                    Nambur (V) <br>
                    Peda Kakani (Md) <br>
                    Guntur (Dt) <br>
                    Andhra Pradesh <br>
                    522508 <br>
                </div>

                <br/>

                <h4><i class='fas fa-phone-alt'></i> Phone</h4>
                <div class="content">
                    9951 023 336 <br>
                    9849 542 336 <br>
                    9849 549 336 
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <br>
                <center>
                    <div class="logo">
                        <img src="/images/logo1.png" alt="VVIT Logo"/>
                    </div>
                </center>
                <br>
                <div class="social-media">
                    <a target="_blank" href="https://www.vvitguntur.com/"><i class='fas fa-globe-europe'></i></a>
                    <a herf="mailto:principaloffice@vvit.net"><i class="fa fa-envelope"></i></a>
                    <a target="_blank" href="https://www.youtube.com/c/VVITChannel/videos"><i class='fab fa-youtube'></i></a>
                    <a target="_blank" href="https://www.linkedin.com/school/vasireddy-venkatadri-institute-of-technology-nambur-v-pedakakani-m-pin-522508-cc-bq-/"><i class='fab fa-linkedin-in'></i></a>
                    <a target="_blank" href="https://www.instagram.com/sac_vvit/?hl=en"><i class='fab fa-instagram'></i></a>
                    <a target="_blank" href="https://www.facebook.com/vvitgunturofficial/"><i class='fab fa-facebook-f'></i></a>
                </div>

                <center><p class="copyright mt-3">
                    ©2021 VVIT - All Rights Reserved.
                </p></center>
            </div>

            <div class="col-md-4 col-sm-0">
                <div class="footer-about">
                    <br>
                    <h4>About</h4>
                    <ul>
                        <li><a target="_blank" href="https://www.vvitguntur.com/about/about-us">About VVIT</a></li>
                        <li><a target="_blank" href="https://www.vvitguntur.com/adm/adm-ug">Admissions</a></li>
                        <li><a target="_blank" href="https://www.vvitguntur.com/placements-home">Placements</a></li>
                        <li><a target="_blank" href="https://www.vvitguntur.com/aca-examcell/exam-cell-profile">Exam Cell</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>