<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />

    <style>
        .navbar {
            background-color: #00334e;
        }

        nav .navbar-nav li a{
            color: white !important;
        }

        nav .navbar-nav .dropdown button{
            color: white !important;
        }

        .navbar-collapse.collapse.in {
            display: block!important;
        }

        .navbar .navbar-toggler .navbar-toggler-icon {
            color: white !important;
        }

        .navbar .navbar-brand img{
            height: 80px;
        }

        @media only screen and (max-width: 500px) {
            .navbar .navbar-brand img{
                width: 100%;
            }

            .navbar .navbar-brand {
                width: 75%
            }
        }
    </style>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg">
    
            <div class="container">
                <a class="navbar-brand" href="/"><img class="nav-logo" src="/images/alumni_logo.png" alt="Logo"/></a>
            
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse justify-content-end navs" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                        <li id="home" class="nav-item">
                          <a class="nav-link" href="/home">HOME</a>
                        </li>

                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              POSTS
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a id="createPost" class="ml-4 nav-link" href="/posts/new">CREATE POST</a>
                                <div class="dropdown-divider"></div>
                                <a id="posts" class="ml-4 nav-link" href="/posts">VIEW POSTS</a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              BLOG
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a id="createPost" class="ml-4 nav-link" href="/blog/new">CREATE BLOG POST</a>
                                <div class="dropdown-divider"></div>
                                <a id="posts" class="ml-4 nav-link" href="/blog/">VIEW BLOG POSTS</a>
                            </div>
                        </div>
                        <li id="home" class="nav-item">
                            <a class="nav-link" href="/register">REGISTER</a>
                          </li>
                          <li id="home" class="nav-item">
                            <a class="nav-link" href="/login">LOGIN</a>
                          </li>
                    </ul>
                </div>
    
            </div>
    
          </nav>
    </div>

    <script src="/bootstrap/dist/jquery/jquery.js"></script>
</body>
</html>