<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel='stylesheet' href='/css/header.css'/>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="main-logo">
                <center><a class="navbar-brand" href="/"><img class="nav-logo" src="/images/alumni_logo.png" alt="Logo"/></a></center>
            </div>
        </nav>
        
        <nav class="navbar navbar-expand-lg navbar2">
    
            <div class="container">

                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse navs" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                        <li id="home" class="nav-item ml-3 mr-3">
                          <a class="nav-link" href="/home">HOME</a>
                        </li>

                        <div class="dropdown ml-3 mr-3">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              POSTS
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if(loggedin) {%> 
                                <a id="createPost" class="ml-4 nav-link" href="/posts/new">CREATE POST</a>
                                <div class="dropdown-divider"></div>
                                <% } %>
                                <a id="posts" class="ml-4 nav-link" href="/posts">VIEW POSTS</a>
                            </div>
                        </div>

                        <div class="dropdown ml-3 mr-3">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              BLOG
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if(loggedin) {%> 
                                <a id="createPost" class="ml-4 nav-link" href="/blog/new">CREATE BLOG POST</a>
                                <div class="dropdown-divider"></div>
                                <% } %>
                                <a id="posts" class="ml-4 nav-link" href="/blog/">VIEW BLOG POSTS</a>
                            </div>
                        </div>

                        <li id="gallery" class="nav-item ml-3 mr-3">
                            <a class="nav-link" href="/gallery">GALLERY</a>
                        </li>

                        <li id="events" class="nav-item ml-3 mr-3">
                            <a class="nav-link" href="/events">EVENTS</a>
                        </li>
                        
                        <% if(loggedin) {%> 
                            <% if(user.administrator) {%>
                                <li id="register" class="nav-item ml-3 mr-3">
                                    <a class="nav-link" href="/dashboard">DASHBOARD</a>
                                </li>
                            <% } %>
                            <div class="dropdown ml-3 mr-3">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    👤 <%= user.username %>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <% if(loggedin) {%> 
                                        <a id="createPost" class="ml-4 nav-link" href="/profile">MY PROFILE</a>
                                        <div class="dropdown-divider"></div>
                                        <a id="posts" class="ml-4 nav-link" href="/profile/all">VIEW PROFILES</a>
                                        <div class="dropdown-divider"></div>
                                        <a id="posts" class="ml-4 nav-link" href="/logout">LOGOUT</a>
                                    <% } %>
                                </div>
                            </div>
                        <% } else { %>
                        <li id="register" class="nav-item ml-3 mr-3">
                            <a class="nav-link" href="/register">REGISTER</a>
                        </li>
                        <li id="login" class="nav-item ml-3 mr-3">
                            <a class="nav-link" href="/login">LOGIN</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
    
            </div>
    
          </nav>
    </div>

    <script src="/bootstrap/dist/jquery/jquery.js"></script>
</body>
</html>