<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Connect VVIT - Home</title>

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />

    <style>
        .caption {
            border: 2px solid black;
            border-radius: 20px;
            box-shadow: 5px 5px #FF5733;
            padding: 5px;
            font-size: 3.5vw
        }
    </style>

</head>
<body>
    <%- include('header'); -%>
    <%- include('slider'); -%>

    <center><h1 class="m-4 caption">REUNITE - REMINISCE - RECONNECT</h1></center>

    <!-- Posts -->


    <!-- Blog posts -->

    <%- include('footer'); -%>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>