.caption {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px #ff5733;
  padding: 5px;
  font-size: 3.5vw;
}

.posts-slider {
  background-color: chocolate;
}

.post-card img {
  max-height: 250px;
}

.card {
  height: 470px;
}

.owl-prev span,
.owl-next span {
  font-size: 50px;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 30%;
}

.owl-prev {
  left: -3%;
}

.owl-next {
  right: -3%;
}

.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header a {
  height: 40px !important;
}

@media only screen and (min-width: 900px) {
  .post-card {
    height: 450px;
  }

  .blog-card {
    height: 400px;
  }
}

/* Color palatees: https://colorhunt.co/palette/f6f5f514537400334eee6f57
                   https://colorhunt.co/palette/2d4059ea5455f07b3fffd460
*/
