<div>
    <h1 class="lead display-6">Add a comment</h1>
    <hr>
        <% if(user) { %>
            <form action="/blog/<%= post.id %>/comment/" method="post">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea id="comment" name="body" class="form-control" rows="2"></textarea>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Add Comment</button>
            </form>
        <% } else { %>
            <p class="mt-2">You're not logged in, Please <a href="/login">login</a> to comment</p>
        <% } %>
</div>